<div class="col-md-12">
  <div class="search-form-area">
    <%= form_tag root_path, :method => 'get' do %>
      <p>
        <%= text_field_tag :search, params[:search], placeholder: "商品名で検索してみよう" %>
        <%= submit_tag "検索", :class => "search-button", :name => nil %>
      </p>
    <% end %>
  </div>
  <h1>現在募集中の商品</h1>
  <% if @items.any? %>
    <h3>現在<%= @items.count %>個の商品が募集中！</h3>
    <ol class="items-index">
      <%= render @items %>
    </ol>
    <%= will_paginate @items %>
  <% else %>
    <h3>まだ出品してないよ〜</h3>
  <% end %>
</div>
