<%= form_for(@item) do |f| %>
  <%= render 'items/error_message' %>
  <div class="item-new-field">
    <div class="panel panel-default">
      <div class="panel-heading">出品用入力フォーム</div>
      <div class="panel-body">
        <div class="form-group">
          <label class="control-label">画像</label>
          <%= f.file_field :image %>
        </div>
        <div class="form-group">
          <label class="control-label">商品名</label>
          <%= f.text_field :name, :class => "form-control", placeholder: "商品名を正確に記入してください" %>
        </div>
        <div class="form-group">
          <label class="control-label">説明</label>
          <%= f.text_area :content, :class => "form-control instraction-area", placeholder: "商品の説明を記入してください" %>
        </div>
        <div class="form-group">
          <label class="control-label">値段（円）</label>
          <%= f.number_field :price, :class => "form-control", placeholder: "金額を半角数字で入力してください" %>
        </div>
      </div>
      <div class="panel-footer item-new-footer">
        <%= f.submit "出品する", class: "btn btn-primary", data: { confirm: "出品してよろしいですか？" } %>
      </div>
    </div>
  </div>
<% end %>
