<div class="item-show-area panel panel-default">
  <h2 class="panel-heading"><%= @item.name %></h2>
  <div class="image_area">
    <%= image_tag @item.image.url if @item.image? %>
  </div>
  <div class="content_area panel-body">
    <span>商品の説明　<span class="item-content-sentence"><%= @item.content %></span></span>
    <h3><%= @item.price %>円</h3>
  </div>
  <div class="panel-footer">
    <div class="buyer-name-area">
      <%= time_ago_in_words(@item.created_at) %>前に出品
      出品者 <%= link_to "#{@item.user.username}", user_page_path(@item.user.id) %>さん
    </div>
    <div class="buy-area">
      <%= form_for @transaction, url: transaction_path do |f| %>
        <%= f.hidden_field :item_id, value: @item.id %>
        <%= f.hidden_field :buyer_id, value: current_user.id %>
        <%= f.hidden_field :seller_id, value: @item.user.id %>
        <%= f.submit "予約", class: "btn btn-primary reserve-button", data: { confirm: "予約してよろしいですか？" } %>
      <% end %>
    </div>
    <div class="edit-area">
      <% if current_user?(@item.user) %>
      <%= link_to "編集", item_edit_path(@item.id) %>
      <%= link_to "削除", @item, method: :delete, data: { confirm: "本当に削除しますか？" } %>
      <% end %>
    </div>
  </div>
</div>
<div class="comment-show-area">
  <% @item.comment.each do |comment| %>
    <p><%= link_to "#{comment.user.username}" , @user %>さん： <%= comment.body %>
    <%= link_to "削除", [@item,comment], method: :delete, data: { confirm: "本当に削除しますか？" } if current_user?(comment.user) %></p>
  <% end %>
</div>
<div class="comment-form-area">
  <%= form_for([@item , @comment]) do |f| %>
    <div class="field">
      <%= f.text_field :body, placeholder: "コメントを入力" %>
    </div>
    <div class="comment-button">
      <%= f.submit "送信", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
